<html>
    <head>
        <style>
        body{
            margin: 20px 100px 50px 100px
            
            }
        </style>
    </head>
    <body>
        <p><b>bid panel</b></p>
        <p>total bids : {{total_bids}}</p>
            
        <div>
            here you will see the  your items ::
            {%for item in items%}
            <ul> <h3>---{{item}}</h3>
                <li>
                    main price:{{original_price}}
                </li>
                
                    <ul><b>offers:</b> 
                        {%for offer in offers%}
                        <li>
                            the person that offerd : {{offer.offer_person}}
                        </li>
                        
                        <li>
                            and his price:{{offer.offer_price}}
                        </li>
                <br>
                        {%endfor%}
                    </ul>
                
            </ul>
            <hr>    {%endfor%}
        </div>
        <hr>
        <div>
             <br>
            
        <div>


        <div>
            here you will see the  your bids ::<br>
            {%for bid in bids%}
            <ul>
                <li> item title: {{bid.item.title}}</li>
                <li>owner: {{bid.item.owner}}</li>
                <li>original price: {{bid.item.original_price}}</li>
                <li>best price: {{bid.item.best_price}}</li>
            </ul>
              
               
                
                

            {%endfor%}
                


        </div>
        
    </body>
</html>
