<html>
    <head>
        <style>
        body{
            margin: 20px 100px 50px 100px
            
            }
        </style>
    </head>
    <body>
        <h1>bid panel</h1>
        
            
        <div>
            <h2>here you will see the  your items :</h2>
            {%for item in items%}
            <ul> <h3>--- {{item}} ---</h3>
                <li>
                    total bids for this item : {{item.bid_set.all.count}}
                </li>               
                <li>
                    main price :  {{item.original_price}}
                </li>
                        
                    <ul><b>offers:</b> 
                        {%for bid in item.bid_set.all%}
                            <li>
                                 person that offerd : {{bid.offer_person}}
                            </li>                        
                            <li>
                                and his price:{{bid.offer_price}}
                            </li>
                            <br>
                        {%endfor%}
                    </ul>
                
            </ul>
            <hr>    {%endfor%}
        </div>
        <hr>
        <div>
             <br>
            
       


        <div>
            <h2>here you will see the  your bids :</h2><br>
            {%for bid in bids%}
            <ul>
                <li> item title: {{bid.item.title}}</li>
                <li>owner: {{bid.item.owner}}</li>
                <li>original price: {{bid.item.original_price}}</li>
                <li>best price: {{bid.item.best_offer_price}}</li>
            </ul>
              
               
                
                

            {%endfor%}
                


        </div>
        
    </body>
</html>
