{% extends "base_auth.html" %}
{% load static %}
<title>{%block title%} register 🐒 {%endblock title%} </title> 

{%block body%} 
<body>
        
        
      
        
        
        
        <div class="cont">
          
          <div class="form">
                <h1>Register</h1>
                <form class="login-form" action="" method="POST">
                    
                    {% csrf_token %}
                    {{userinfoo.email.errors}}
                    {{userinfoo.email}}

              
                     {{userinfoo.username.errors}}
                     {{userinfoo.username}}
        
                     
              
                     {{userinfoo.password.errors}}
                     {{userinfoo.password}}
        
        
              <button type=submit class="login">Register</button>
              <a href="{% url 'auth' %}">Login</a>
  
            </form>        
            
          
          
          
        </div>
       
</body>
{%endblock body%}
</html>
